.main-box {
    display: flex;
    flex-wrap: wrap;
    gap: 130px;
    padding: 50px;
}
ul {
    list-style: none;
}

.boxes {
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10px;
    width: 600px;
    height: 390px;
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 171, 0, 1) 10%, rgba(255, 171, 0, 1) 20%, rgba(255, 0, 0, 1) 35%, rgba(255, 252, 0, 1) 50%, rgba(255, 0, 0, 1) 65%, rgba(255, 171, 0, 1) 80%, rgba(255, 171, 0, 1) 90%, rgba(255, 0, 0, 1) 100%);
    -webkit-box-shadow: 0px 0px 0px 8px #000000, 0px 0px 0px 16px #3c3d3c, 0px 0px 0px 24px #828482, 0px 0px 0px 31px #B2B5B2, 0px 0px 0px 39px #DADDDA, 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 0px 8px #000000, 0px 0px 0px 16px #3c3d3c, 0px 0px 0px 24px #828482, 0px 0px 0px 31px #B2B5B2, 0px 0px 0px 39px #DADDDA, 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
}

.pets-food {
    font-size: 35px;
    font-weight: bolt;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
}

p{
    font-size: 50px;
    padding: 10px;
    text-align: center;
    color: #00ff00;
}
body{
    background: rgb(131, 58, 180);
        background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}
iframe{
    padding: 20px;
}